.items-container {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cart-count {
  border-radius: 50%;
  background-color: rgb(0, 13, 255);
  padding: 3px 5px;
  font-size: x-small;
  position: relative;
  bottom: 8px;
  left: 4px;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.billing-div{
  position: relative;
}
.payment-success{
  position: absolute;
  top: -800px;
  right: 0;
}